header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

.see-all{
    font-size: 0.8em;
    text-transform:uppercase;
}

.content h1{
    font-size: 2.5rem;
}

.content h2{
    font-size: 1rem;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: light;
}

img{
    width: 100%;
}

.cast li{
    width: 25%;
}

#game-of-thrones, #unbreakable-kimmy-schmidt{
    border-top: 1px solid black;
}

nav .selected{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.cast li div:first-of-type{
    font-size: 0.8rem;
    font-weight: bold;
}

.cast li div:last-of-type{
    font-style: italic;
}

#game-of-thrones .seasons li:last-child::after{
    content: " *";
}

#game-of-thrones .seasons::after{
    content: "* Final Season";
    font-size: 0.7em;
    color: #999;
}